 @charset "UTF-8";

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;

    background-color: rgb(31, 31, 31);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(235, 235, 235);
    margin: 0;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* O gradiente agora é o background do pseudoelementoa */
    background-image: linear-gradient(to bottom, rgb(31, 31, 31), rgb(236, 236, 236));
    opacity: 0; /* Começa invisível */
    z-index: -1; /* Coloca o pseudoelemento atrás do conteúdo */
    /* A transição de opacidade de 3 segundos é a animação */
    transition: opacity 3s ease;
}
.shadow{
    box-shadow: 0 -36px 20px rgba(0, 0, 0, 0.5) !important;
}
.toggle_light{
    background-color: white !important;
    color: rgb(31, 31, 31) !important;
}
.toggle_color{
    color: rgb(31, 31, 31) !important;
}
.parag{
    background-color: transparent;
    color: rgb(235, 235, 235);
}
.calculadora{
    width: 300px;
    height: 400px;
    background-color: rgb(19, 19, 19);
    margin-top: 20px;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0px 4px 12px rgb(0, 0, 0);
    cursor: grab;
    position: absolute;
    transition: box-shadow 3s ease;
}
.calculadora:active{
    cursor: grabbing;
    box-shadow: 0px 6px 18px rgb(0, 0, 0);
    transition: none;
}
.hidden_calculadora{
    display: none;
}
.calc_result{
    width: 270px;
    height: 75px;
    background-color: rgb(31, 31, 31);
    color: rgb(0, 240, 72);
    border-radius: 10px;
    margin: 15px;
    font-size: 25px;
}
.botao_calc{
    width: 61.5px;
    height: 43px;
    background-color: rgb(31, 31, 31);
    border-radius: 7px;
    box-shadow: 0px 2px 6px rgb(0, 0, 0);
    color: rgb(235, 235, 235);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.botao_calc.op{
    width: 61.5px;
    height: 43px;
    background-color: rgb(255, 136, 0);
    border-radius: 7px;
    box-shadow: 0px 2px 6px rgb(0, 0, 0);
    color: rgb(235, 235, 235);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.grid_botoes{
    margin-left: 20px;
    align-items: center;
}
p{
    text-align: center;
    align-items: center;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(235, 235, 235);
    background-color: transparent;
    transition: box-shadow 3s ease;
}
h1{
    color: rgb(235, 235, 235);
    transition: box-shadow 3s ease;
    background-color: transparent;
}
.lorem{
    width: 512px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 4px 12px rgb(0, 0, 0);
    padding: 30px;
    background-color: rgb(19, 19, 19);
    color: rgb(219, 219, 219);
    border: 2px solid rgb(0, 0, 0);
    transition: box-shadow 3s ease;
}
.campo_texto{
    width: 572px;
    height: 64px;
    border-radius: 5px;
    box-shadow: 0px 4px 12px rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    background-color: rgb(19, 19, 19);
    color: rgb(0, 240, 72);
    transition: box-shadow 3s ease;
    font-size: 16px;
}
.botao{
    width: 160px;
    height: 60px;
    background-color: rgb(31, 31, 31);
    border-radius: 7px;
    box-shadow: 0px 2px 6px rgb(0, 0, 0);
    transition: transform 0.3s ease, box-shadow 3s ease;
}
.botao .fa-rotate-right{
    font-size: 24px; 
    color: rgb(235, 235, 235);
}
.botao .fa-gear{
    font-size: 24px; 
    color: rgb(235, 235, 235);
}
.botao .fa-calculator{
    font-size: 24px; 
    color: rgb(235, 235, 235);
}
.botao .fa-lightbulb{
    font-size: 24px; 
    color: rgb(235, 235, 235);
}
.icone{
    font-size: 24px; 
    color: rgb(235, 235, 235);
}
.botao:hover{
    transform: translateY(-5px);
    box-shadow: 0px 4px 12px rgb(0, 0, 0);
    cursor: pointer;
}
.botao:active{
    transform: scale(0.95);
    transition: none;
    cursor: pointer;
}
.bouncing{
    animation-name: bounce;
    animation-duration: 0.2s;
    animation-timing-function: ease;
}
.gradiente_fundo::before{
    opacity: 1;
}
